<!doctype html>
<html>
  <head>
    <title>Inventory</title>
    <meta name="Inventory" content="Inventory of virtual machines">
    <style>
      body {
        background-color: #0C322C;
        color: #FFFFFF;
      }
      img {
        float: right;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        color: #000000;
      }
      td, th {
        border: 1px solid #30BA78;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #90EBCD;
      }
      tr:nth-child(odd) {
        background-color: #EFEFEF;
      }
    </style>
  </head>
  <body>
    <img src="https://brand.suse.com/assets/img/brand/logo-horizontal-02.png" alt="SUSE Logo">
    <h1>Inventory</h1>
    {{ range $_, $host := . }}
    <h2><a href="https://{{ $host.Hostname }}:9090/machines">{{ $host.Hostname }}</a></h2>
    <h3>{{ $host.UUID }} / {{ $host.Vendor }} {{ $host.Model }} {{ $host.Arch }} / {{ $host.Status }} / {{ len $host.Guests }} guests</h3>
    <table>
      <tr>
        <th>UUID</th>
        <th>Name</th>
        <th>State</th>
      </tr>
      {{ range $_, $guest := $host.Guests }}
      <tr>
        <td>{{ $guest.UUID }}</td>
        <td><a href="https://{{ $host.Hostname }}:9090/machines#vm?name={{ $guest.Name }}&connection=system">{{ $guest.Name }}</a></td>
        <td>{{ guestStateToString $guest.State }} / {{ $guest.NrVirtCpu }} vCPUs / {{ $guest.Memory }} KiB RAM</td>
      </tr>
      {{ end }}
    </table>
    {{ end }}
  </body>
</html>
